thead{
    color: #002d73;
}
td {
    border-top: 1px solid #002d73 !important;   
}

.table>thead>tr>th {
    border-bottom: none;
}
.margin-l-r{
    margin-left: 7px;
    margin-right: 7px;
}
i#backArrow{
    color: #ffb641;
}
#remarks-container{  
    width: 400px;
    height: 150px;
    text-align: center;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 200px);
    background-color: #206a9b;
    color: white;
    box-shadow: 2px 2px 2px;
}
#remarks-title{
    margin-top: 15px;
    padding: 7px;
}
#remarks-input{
    color: black;
    padding: 4px;
    margin: 10px;
    width: 80%;
    margin: auto;
}
#remarks-btns{
    margin-top: 20px;
}
#backArrow{
    float: left !important;
    color: #e1e1e1;;
}