<div class="container no-padding-l-r">    
    <div class="container no-padding-l-r top40" *ngIf="meds && meds.length">
        <div class="panel panel-default">
            <div class="panel-heading list-heading">                
                MEDICATION LIST FOR PATIENT #{{patientNumber}}
                <div class="pull-right">                    
                    <a [routerLink]="['/patients']">
                        <i class="fa fa-chevron-circle-left" id="backArrow" 
                        ngbPopover="BACK" triggers="mouseenter:mouseleave">
                        </i>
                    </a>                   
                </div>
            </div>
            <div class="panel-body list-body">
                <div class="table-responsive margin-l-r">          
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Dosage</th>
                                <th>Time</th>
                                <th>remarks</th>
                                <th>info</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let med of meds | orderBy: 'time'">
                                <td>{{med.name}}</td>
                                <td>{{med.dosage}}</td>
                                <td>{{med.time | date:'HH:mm' }}</td>                                
                                <td>{{med.remarks}}</td>
                                <td>
                                    <i class="fa fa-info-circle" (click)="openRemarkForm(med)"></i>                                    
                                </td>                                
                            </tr>                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="openRemarks" id="remarks-container">
    <div id="remarks-title">Please provide remarks for {{currentMed.name.toUpperCase()}} medication</div> 
    <input id="remarks-input" [placeholder]="placeholder" type="text" [(ngModel)]="currentMed.remark">
    <div id="remarks-btns" class="col-sm-4 col-sm-offset-4">
        <div class="col-sm-6"><i class="fa fa-times-circle-o fa-2x" (click)="openRemarks=!openRemarks"></i></div>
        <div class="col-sm-6"><i class="fa fa-check-circle-o fa-2x" (click)="saveRemark(currentMed.remark)"></i></div>
    </div>
</div>
