/* You can add global styles to this file, and also import other style files */
.no-padding-left-right{
    padding-left: 0;
    padding-right: 0;
}
.top50{
    margin-top: 50px;
}
h3.popover-title {
    display: none;
}
footer{
    width: inherit;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    opacity: 0.5;
}